<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>北京金诚宏信医疗科技有限公司</title>
</head>
<style type="text/css">
span {
	line-height: 55px;
	font-size:40px;
}
strong {
	line-height: 30px;
	font-size:15px;
}
img {
	width:100%;
}
</style>

<body>

<div align="center"><img src="../../../../../Public/static/jchx/1.png"  /></div>
<span>
北京金诚宏信医疗科技有限公司致力于医学实验室的整体供应解决方案，公司秉承产品+服务的理念整合上下游产业链的发展，业务涵盖诊断产品、医学诊断服务和院内物流等。
</span>
<div align="center"><img src="../../../../../Public/static/jchx/2.png" /></div>
</body>
</html>
