<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产品介绍</title>
<style type="text/css">
p {
	line-height: 35px;
	font-size:15px;
}
strong {
	line-height: 40px;
	font-size:15px;
}
.strong1 {
	line-height: 45px;
	font-size:30px;
}
</style>
</head>

<body>
<p><strong class="strong1">免疫荧光快速染液</strong></p>
<div align="center"><img src="../../../../../Public/static/jchx/3.png" width="96%" /></div>
<p>真菌免疫荧光快速染色液，真菌免疫荧光快速染色液中的抗体成分能够与真菌细胞壁葡聚糖层和几丁质层中的β糖苷键进行特异性结合，该抗体成分上标记有荧光素，这样荧光素也就被标记到了真菌细胞壁上面，通过荧光显微镜就能清晰的看到真菌的形态。 <br />
抗酸分枝杆菌荧光染色试剂，更灵敏的监测，更清晰的视野，更精准的诊断 </p>
<p><strong class="strong1">全自动高通量免疫检测系统</strong></p>
<p>TESMI</p>
<div align="center"><img src="../../../../../Public/static/jchx/4.jpg" width="96%" /></div>
<ul>
  <li><strong>检测速度快，配合多指标联检试剂盒，最高可达4000测试/小时； </strong></li>
  <li><strong>同时在线试剂项目多，单机可在线上百种指标； </strong></li>
  <li><strong>全自动，双向通讯，可接入流水线； </strong></li>
  <li><strong>节约样本，减少抽血量； </strong></li>
</ul>
</body>
</html>
