<!doctype html>
<html class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>结果</title>
	<meta name="renderer" content="webkit"> 
	<meta http-equiv="Cache-Control" content="no-siteapp"> 
	<meta name="mobile-web-app-capable" content="yes"> 
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="结果">
	<meta name="msapplication-TileColor" content="#0e90d2">

	<link rel="stylesheet" href="https://cdn.bootcss.com/amazeui/2.7.1/css/amazeui.css">
    <link rel="stylesheet" href="css/style.css">
	<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.min.js"></script>
    <script src="js/notice_msg.js"></script>
	<style>
		.c-g { color:#888888;}
	</style>
</head>
<body>
<div><span id="op_result"></span></div>

<section class="am-padding-xs am-padding-top-xl bg-f">
    <fieldset>
        <legend class="am-margin-0 am-text-center">{$title}</legend>
        <div class="am-form-group">
            <p class="c-g">{$content}</p>
        </div>
    </fieldset>
</section>
</body>
</html>